*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- nav --- */

nav{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: green;
}

nav a{
    padding: 1rem .5rem;
    text-decoration: none;
    font-size: x-large;
    margin: 0;
    color: aliceblue;
}

nav a:hover{
    background-color: lightgreen;
}

.website-options, .login-box{
    padding: 1rem 0;
}

/* --- footer --- */

footer{
    margin-top: auto;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.developers-box ul{
    margin: 1rem;
}

#titel-devs{
    text-align: center;
}

.list-box{
    display: flex;
    flex-flow: row wrap;
}

.company-details-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}