

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

fieldset{
    max-width: 30rem;
    margin: 1rem auto;
    padding: 1rem;
}

.outer-ul{
    margin-left: 1rem;
}

.inner-ul{
    margin-left: 1rem;
}