

/* --- main --- */

main{
    max-width: 100rem;
    margin: 0 auto;
}

.guide-box{
    display: flex;
    flex-direction: row;
    height: 29vh;
}

.titel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    font-size: xx-large;
}

#titel1{
    background-color: lightblue;
}

#titel2{
    background-color: lightcoral;
}

#titel3{
    background-color: lightpink;
}

.content{
    width: 49%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content p{max-width: 50%;}

.content h4{
    margin: 2rem;
    font-size: x-large;
}

.BtnReadMore{
    padding: .3rem .7rem;
    border-radius: 5px;
    background-color: rgb(71, 71, 189);
    color: wheat;
    text-decoration: none;
    font-size: x-large;
    margin: 1rem 0;
}

.BtnReadMore:hover{
    background-color: aqua;
}