.messageDiv{
    position: absolute;
    bottom: 0px;
    right: 1%;
    height: 50%;
    width: 20%;
    background-color: rgb(179, 168, 151);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#messageTextare{
    resize: none;
    float: left;
}
textarea{
    resize: none;
}
.messageForm{
    display: flex;
    border: 2px solid black;
}
.messageLabel{
    /* justify-self: flex-end; */
    background-color: green;
    border-bottom: 2px solid black;

}
.messageContainer{
    
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}
.messageText{
    background-color: white;
    border-radius: 7%;
    border: solid black 1px;
    padding: 2px;
    width: 50%;
    margin: 1px;
}
.flexiEndi{
    align-self: flex-end;
}