*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}
.profileName{
    
    text-shadow: 
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff,
    1px -1px 0 #ffffff;
    /* background-color: rgba(245, 242, 242, 0.527); */
}
.profilePic{
    height: 10%;
    width: 10%;
    margin: 0.2%;
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;

}
main{
    display: flex;
    padding: 1%;
    border-top: 1px solid black;
    height: 100%;
}
article{
    margin: 1%;
    /* border: solid 2px black; */
    padding: 0.5%;
    background-color: bisque;
}

.aboutMeText{
    border-top: solid 1px black;
    background-color: bisque;
    resize: none;


}
p{
    margin-bottom: 0.1%;
}
.heroProfilePic{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding-top: 5%;

    background: url(../images/technoHero.jpg) no-repeat center center fixed; 
    
    background-size: cover;
}
.companyProfilePic{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding-top: 5%;
    background: url(../images/technoHero2.jpg) no-repeat center center fixed; 
    background-size: cover;


}
.signInForm{

    display: flex;
    flex-direction: column;
    width: 30;
    height: 70%;
    align-items: flex-end;
    background-color: rgba(165, 42, 42, 0.304);
    padding: 1%;
}
.signInFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}
.signinBtnContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 2%;
}
.signinBtnContainer input{
     padding: 5px;
}
